# Author: Yi Wang

# Permit ignore files.
!.gitattributes
!.gitignore

# Permit these file extensions.
## Source code files
!*.py
!*.sh

## MarkDown
!*.md

## Config (YAML)
!*.yaml
!*.yml

## Python
!requirements*.in
!requirements*.txt

## Python packaging files
!setup.cfg
!tox*.ini
!MANIFEST.in

# Ignore these files or folders.
.idea/

# Path
__pycache__/
venv/

# Data
data/
